annotated-types==0.6.0
anyio==4.3.0
appnope==0.1.4
asttokens==2.4.1
attrs==23.2.0
backports-datetime-fromisoformat==2.0.2
bioutils==0.5.8.post1
blosc2==3.3.1
boto3==1.34.76
botocore==1.34.76
canonicaljson==2.0.0
cattrs==24.1.2
certifi==2024.8.30
charset-normalizer==3.3.2
civicpy==3.1.2
click==8.1.7
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.7
decorator==5.1.1
deprecation==2.1.0
et_xmlfile==2.0.0
exceptiongroup==1.2.0
executing==2.1.0
fastapi==0.110.1
fastjsonschema==2.20.0
fonttools==4.57.0
ga4gh.vrs==2.0.0a5
gene-normalizer==0.3.0.dev1
h11==0.14.0
humanfriendly==10.0
idna==3.6
ipykernel==6.29.5
ipython==8.28.0
ipython-genutils==0.2.0
jedi==0.19.1
Jinja2==3.1.6
jmespath==1.0.1
jsonpickle==4.0.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
msgpack==1.1.0
nbformat==5.10.4
nbimporter==0.3.4
ndindex==1.9.2
nest-asyncio==1.6.0
networkx==3.4.2
numexpr==2.10.2
numpy==1.26.4
obonet==1.1.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.6
plotly==5.24.1
prompt_toolkit==3.0.48
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.18.0
pyparsing==3.2.3
pysam==0.22.1
python-dateutil==2.9.0.post0
pytz==2024.2
pyvis==0.3.2
PyYAML==6.0.1
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.3
requests-cache==1.2.1
retrying==1.3.4
rpds-py==0.21.0
s3transfer==0.10.1
scipy==1.15.2
six==1.16.0
sniffio==1.3.1
stack-data==0.6.3
starlette==0.37.2
tables==3.10.2
tenacity==9.0.0
tornado==6.4.1
tqdm==4.66.6
traitlets==5.14.3
typing_extensions==4.10.0
tzdata==2024.2
UpSetPlot==0.9.0
url-normalize==1.4.3
urllib3==1.26.20
uvicorn==0.29.0
vcfpy==0.13.8
wcwidth==0.2.13